In [3]:
from pathlib import Path
import pandas as pd

In [4]:
dir_path = Path.cwd()
raw_data_path = Path.joinpath(dir_path, "data", "raw")
interim_data_path = Path.joinpath(dir_path, "data", "interim")

In [5]:
df = pd.read_stata(Path.joinpath(raw_data_path, "level4.dta"))
df.columns

FileNotFoundError: [Errno 2] No such file or directory: 'c:\\Users\\gohal\\Desktop\\Coding\\bipp-datasets\\projects\\situation-assessment-ag-hh\\notebooks\\data\\raw\\level4.dta'

In [ ]:
df.drop(['Centre_code_Round',
       'FSU_Serial_No', 'Round', 'Schedule', 'Sample', 'NSS_Region', 'Stratum',
       'Sub_Stratum', 'Sub_Round', 'FOD_Sub_Region', 'Second_stage_stratum_no',
       'Sample_hhld_No', 'Visit_number', 'Level', 'Filler', 'NSC'], axis = 1, inplace = True)

In [ ]:
df

,common_id,State,Sector,District,Srl_No,area_of_land,land_agr_prod,land_for_shifting_jhum_cult,land_other_purpose,land_for_animals,...,irri_major_source,irri_2nd_major_source,tenure_of_lease,area_land_lease_money,area_land_lease_fixedproduce,area_land_lease_shareproduce,area_land_lease_relatives,area_land_lease_other,Multiplier,w
0,72227101,1,1,5,1,0.37,1.0,NaN,0.37,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0
1,72227101,1,1,5,6,0.03,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0
2,72227101,1,1,5,10,0.40,1.0,NaN,0.37,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0
3,72227102,1,1,5,1,0.37,1.0,NaN,0.37,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0
4,72227102,1,1,5,4,0.04,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169038,70112501,36,1,31,6,0.09,1.0,NaN,NaN,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100500,1005.0
169039,70112501,36,1,31,10,25.59,1.0,NaN,25.50,0.02,...,3.0,4.0,3.0,NaN,NaN,NaN,12.0,NaN,100500,1005.0
169040,70112502,36,1,31,3,6.50,1.0,NaN,6.50,NaN,...,1.0,3.0,3.0,5.0,1.5,NaN,NaN,NaN,100500,1005.0
169041,70112502,36,1,31,6,0.05,1.0,NaN,NaN,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100500,1005.0
169042,70112502,36,1,31,10,6.55,1.0,NaN,6.50,0.02,...,1.0,3.0,NaN,5.0,1.5,NaN,NaN,NaN,100500,1005.0

In [ ]:
var_names = [x.lower() for x in df.columns]
df.columns = var_names

Index(['common_id', 'state', 'sector', 'district', 'srl_no', 'area_of_land',
       'land_agr_prod', 'land_for_shifting_jhum_cult', 'land_other_purpose',
       'land_for_animals', 'land_crop_animals', 'other_agri_uses',
       'land_not_for_agri_purpose', 'crop_farming_code', 'land_irrigated',
       'area_land_irri', 'irri_major_source', 'irri_2nd_major_source',
       'tenure_of_lease', 'area_land_lease_money',
       'area_land_lease_fixedproduce', 'area_land_lease_shareproduce',
       'area_land_lease_relatives', 'area_land_lease_other', 'multiplier', 'w',
       'categories_of_land'],
      dtype='object')

In [ ]:
if df["common_id"].is_unique:
    print("Common ID is unique for Level 4")
else:
    print("Common ID not unique for Level 4")

NameError: name 'df' is not defined

In [ ]:
len(pd.unique(df['common_id']))

57978

In [ ]:
df['common_id']

0         72227101
1         72227101
2         72227101
3         72227102
4         72227102
            ...
169038    70112501
169039    70112501
169040    70112502
169041    70112502
169042    70112502
Name: common_id, Length: 169043, dtype: int32

In [ ]:
df['categories_of_land'] = df['srl_no']

In [ ]:
cat_labels = {1:'land other than homestead owned and possessed', 2: 'land other than homestead leased-in and recorded', 3: 'land other than homestead leased-in and not recorded', 4: 'land other than homestead otherwise possessed', 5: 'land other than homestead leased-out', 6: 'homestead owned and possessed', 7: 'homestead leased-in and recorded', 8: 'homestead leased-in and not recorded', 9: 'homestead otherwise possessed', 10: 'total (homestead+other land)'}

In [ ]:
df['categories_of_land'] = df['categories_of_land'].map(cat_labels)

In [ ]:
df

,common_id,state,sector,district,srl_no,area_of_land,land_agr_prod,land_for_shifting_jhum_cult,land_other_purpose,land_for_animals,...,irri_2nd_major_source,tenure_of_lease,area_land_lease_money,area_land_lease_fixedproduce,area_land_lease_shareproduce,area_land_lease_relatives,area_land_lease_other,multiplier,w,categories_of_land
0,72227101,1,1,5,1,0.37,1.0,NaN,0.37,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0,land other than homestead owned and possessed
1,72227101,1,1,5,6,0.03,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0,homestead owned and possessed
2,72227101,1,1,5,10,0.40,1.0,NaN,0.37,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0,total (homestead+other land)
3,72227102,1,1,5,1,0.37,1.0,NaN,0.37,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0,land other than homestead owned and possessed
4,72227102,1,1,5,4,0.04,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0,land other than homestead otherwise possessed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169038,70112501,36,1,31,6,0.09,1.0,NaN,NaN,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100500,1005.0,homestead owned and possessed
169039,70112501,36,1,31,10,25.59,1.0,NaN,25.50,0.02,...,4.0,3.0,NaN,NaN,NaN,12.0,NaN,100500,1005.0,total (homestead+other land)
169040,70112502,36,1,31,3,6.50,1.0,NaN,6.50,NaN,...,3.0,3.0,5.0,1.5,NaN,NaN,NaN,100500,1005.0,land other than homestead leased-in and not re...
169041,70112502,36,1,31,6,0.05,1.0,NaN,NaN,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100500,1005.0,homestead owned and possessed
169042,70112502,36,1,31,10,6.55,1.0,NaN,6.50,0.02,...,3.0,NaN,5.0,1.5,NaN,NaN,NaN,100500,1005.0,total (homestead+other land)

In [ ]:
crop_labels = {1:'cereals', 2  : 'pulses', 4 : 'sugar crops', 
5: 'condiments and spices', 6: 'fruits',7: 'tuber crops',8: 'vegetables', 9: 'other food crops', 10: 'oilseeds', 
11: 'fibres', 12: 'dyes & tanning materials', 13: 'drugs & narcotics', 14: 'fodder crops', 15: 'plantation crops', 
16: 'flower crops', 17: 'medicinal plants', 18: 'aromatic plants', 19: 'other non-food crops', 20: 'dairy', 
21: 'poultry/duckery', 22: 'piggery', 23: 'fishery', 29: 'farming of other animals' 
}

In [ ]:
irri_labels = { 1: 'canal', 2: 'minor surface works (pond, tank, etc)', 3: 'ground water (tube well, well etc.)',4: 'combination of canals, minor surface works and groundwater', 9:'others'
}

In [ ]:
tenure_labels = {1 : 'less than 6 months', 2:'6 months or more but less than 1 year', 3:'1 year or more but less than 2 years',4: '2 years or more'}

In [ ]:
df['crop_farming_code'] = df['crop_farming_code'].map(crop_labels)
df['irri_major_source'] = df['irri_major_source'].map(irri_labels)
df['irri_2nd_major_source'] = df['irri_2nd_major_source'].map(irri_labels)
df['tenure_of_lease'] = df['tenure_of_lease'].map(tenure_labels)
df.columns

Index(['common_id', 'state', 'sector', 'district', 'srl_no', 'area_of_land',
       'land_agr_prod', 'land_for_shifting_jhum_cult', 'land_other_purpose',
       'land_for_animals', 'land_crop_animals', 'other_agri_uses',
       'land_not_for_agri_purpose', 'crop_farming_code', 'land_irrigated',
       'area_land_irri', 'irri_major_source', 'irri_2nd_major_source',
       'tenure_of_lease', 'area_land_lease_money',
       'area_land_lease_fixedproduce', 'area_land_lease_shareproduce',
       'area_land_lease_relatives', 'area_land_lease_other', 'multiplier', 'w',
       'categories_of_land'],
      dtype='object')

In [ ]:
df

,common_id,state,sector,district,srl_no,area_of_land,land_agr_prod,land_for_shifting_jhum_cult,land_other_purpose,land_for_animals,...,irri_2nd_major_source,tenure_of_lease,area_land_lease_money,area_land_lease_fixedproduce,area_land_lease_shareproduce,area_land_lease_relatives,area_land_lease_other,multiplier,w,categories_of_land
0,72227101,1,1,5,1,0.37,1.0,NaN,0.37,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0,land other than homestead owned and possessed
1,72227101,1,1,5,6,0.03,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0,homestead owned and possessed
2,72227101,1,1,5,10,0.40,1.0,NaN,0.37,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0,total (homestead+other land)
3,72227102,1,1,5,1,0.37,1.0,NaN,0.37,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0,land other than homestead owned and possessed
4,72227102,1,1,5,4,0.04,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139500,1395.0,land other than homestead otherwise possessed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169038,70112501,36,1,31,6,0.09,1.0,NaN,NaN,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100500,1005.0,homestead owned and possessed
169039,70112501,36,1,31,10,25.59,1.0,NaN,25.50,0.02,...,"combination of canals, minor surface works and...",1 year or more but less than 2 years,NaN,NaN,NaN,12.0,NaN,100500,1005.0,total (homestead+other land)
169040,70112502,36,1,31,3,6.50,1.0,NaN,6.50,NaN,...,"ground water (tube well, well etc.)",1 year or more but less than 2 years,5.0,1.5,NaN,NaN,NaN,100500,1005.0,land other than homestead leased-in and not re...
169041,70112502,36,1,31,6,0.05,1.0,NaN,NaN,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100500,1005.0,homestead owned and possessed
169042,70112502,36,1,31,10,6.55,1.0,NaN,6.50,0.02,...,"ground water (tube well, well etc.)",NaN,5.0,1.5,NaN,NaN,NaN,100500,1005.0,total (homestead+other land)

In [ ]:
csv_path = Path.joinpath(interim_data_path, "level4.csv")
df.to_csv(csv_path, index=False)

In [ ]:
#checking of total and summing the given values
#check unique values before mapping
#check serial + common uniqueness